body {
    margin: 0;
    font-family: 'Times New Roman', sans-serif;
    font-size: 17px;
    padding-top: 60px;
}
html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
.bandaSuperiore {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(15, 224, 15);
    text-align: center;
    z-index: 1000;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
}
/* Nascondo il checkbox */
#menu-toggle {
    display: none;
}
/* Mostro l'icona ☰ */
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 5px;
    right: 14px;
}
/* Il menù nascosto all'inizio (mobile) */
.menu {
    display: none;
    flex-direction: column;
    background: rgb(42, 11, 212);
    padding: 0;
    text-align: center;
    z-index: 1001;
}
.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-top: 1px solid #333333;
}
.sezione {
    transition: color 0.5s ease;
}
.sezione:hover {
    font-weight: bold;
    background-color: rgb(76, 0, 255);
}
/* Quando checkbox è spuntato, mostra il menù */
#menu-toggle:checked + .menu-icon + .menu {
    display: flex;
}
.primaParte {
    margin-left: 5px;
    margin-right: 5px;
}
.domanda {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(42, 11, 212);
}
.risposta {
    margin: 0;
    font-style: italic;
}
.secondaParte {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
}
.box {
    position: relative;
    flex: 1 1;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.315);
    border-radius: 5px;
    min-width: 120px;
    max-width: 230px;
    transition: transform 0.3s ease;
}
.box img {
    width: 90%;
    object-fit: cover;
    border-radius: 8px;
}
.box:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.425);
}
.badge {
    position: absolute;
    top: 15px;
    right: 18px;
    background-color: rgb(15, 224, 15);
    border-radius: 5px;
    border: 1pt solid black;
    padding: 5px;
    color: white;
    transform: rotate(20deg);
}
.terzaParte {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.bottone {
    display: inline-block;
    padding: 7px;
    border-radius: 8px;
    background-color: rgb(42, 11, 212);
    color: white;
    text-decoration: none;
    transition: background-color 0.5s ease;
}
button:hover {
    background-color: rgb(76, 0, 255);
    font-weight: bold;
}
.footerFisso {
    text-align: center;
    padding: 5px;
    background-color: rgb(15, 224, 15);
    color: white;
    font-weight: bold;
}
.form {
    margin: 30px;
    text-align: center;
    padding: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.315);
    border-radius: 8px;
}
h3 {
    margin-top: 0;
    margin-bottom: 5px;
    color: red;
}
input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
}
button:hover {
    color: white;
    cursor: pointer;
}
/* Versione desktop (schermi grandi) */
@media (min-width: 600px) {
    body {
        padding-top: 100px;
    }
    .menu-icon {
      display: none;
    }
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 8px;
    }
    .menu a {
        border: none;
        padding: 4px;
    }
    .spazio {
        padding-top: 100px;
    }
    .primaParte {
        margin-left: 10px;
        margin-right: 10px;
    }
    .secondaParte {
        margin: 20px;
        display: flex;
        gap: 45px;
    }
    .box {
        padding: 15px;
        max-width: 350px;
    }
    .terzaParte {
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .form {
        width: fit-content;
        padding: 35px;
        margin-left: auto;
        margin-right: auto;
    }
  }
@media (min-width: 1925px) {
    body {
        font-size: 20px;
    }
  }
